@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');



 /* * {
     border: solid 1px;
 } */


nav {
    background-color: blanchedalmond ;
    height:60px;
    border-bottom: solid 1px;
    display: flex;
    justify-content: space-evenly;
    transition: all 0.35s;
    
}
nav:hover{
    background-color: blanchedalmond;

}

ul {
    display: none;
}
 a {
     
     color: rgb(19, 59, 99);
     text-decoration: none;
 }


h1 {
    text-align: center;
    padding: 40px;
    font-family: 'Spartan', sans-serif;
    transition: all 0.35s;
}


h2 {
    
    text-align: center;
    font-size: 20px;
    font-family: 'Spartan', sans-serif;
 
}


.icon1 {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

section {
margin: 10px;
}

footer {
height: 50px;
background-color: blanchedalmond;
color:  rgb(19, 59, 99);
text-align: center;
border-top: solid 2px;
display: flex;
justify-content: space-evenly;
font-size: 20px;
}


.main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

 .aboutme {
     display:none;
 }

 .projectstuff {
     display:none;
 }

  #footer {
    font-family: 'Spartan', sans-serif;
  }


@media screen and (min-width: 768px) {


    .icon1 {
        display:none;
    }

    ul{
        padding-top: 10px;
        display: flex;
        justify-content: space-evenly;
        width:auto;
    }
    

    li {
        display: flex;
        padding: 20px;
        justify-content: space-evenly;
      
    }

    .main-content {
        display: flex;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    section {
        
    }

    .aboutme {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 10px;
    border-top: 2px solid grey;
    }

    .aboutme h2{
        font-size: 40px;
        grid-row: 1/ 1;
        grid-column:1 / 4;
        text-align: center;
    }

    .aboutme p{
        grid-row: 2/2;
        grid-column: 1/4;
        text-align: center;
        font-family: 'Comfortaa', cursive;
        
    }

}

@media screen and (min-width: 1024px) {

    .main-content {
        display: flex;
        /* grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr; */
    }

    .projectstuff {
        display: flex;
        font-family: 'Spartan', sans-serif;
        padding: 10px;
        flex-wrap: wrap;

    }
     section {
        display: flex;
        grid-row: 1 / 4;
        grid-column: 1/4;
    }

     port-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    } 

    nav {
        background-color: rgb(19, 59, 99) ;
        height:60px;
        border-bottom: solid 1px;
        display: flex;
        justify-content: space-evenly;
        transition: all 0.35s;
        
    }

    nav:hover{
        background-color: blanchedalmond;
    
    }
    
    footer {
        height: 50px;
        background-color: rgb(19, 59, 99);
        color: rgb(19, 59, 99);
        text-align: center;
        border-top: solid 2px;
        display: flex;
        justify-content: space-evenly;
        font-size: 20px;
        transition: 0.35s;
        }

        footer:hover {
            background-color: blanchedalmond;
        }

        img {
            transform: translate(-50px, 0)
            scale(2.0);
            transition: all 0.40s;
        }

        img:hover {
            transform: scale(1);
            transform: translate(0px, 0) scale(1);
        }
        /* #sneaky {
            animation-name: test;
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }

        @keyframes test {
            0%   {color:rgb(255, 255, 255);}
            50%  {color:black;}
            100% {color:rgb(255, 255, 255);}
        }  */
    }
    
    









